.nested-fields data-controller="config-select"
  .row
    .col.w-spacer-20
      = f.association :external_service, collection: f.object.stack.external_services.group_by(&:service_type), as: :grouped_select, group_method: :last, group_label_method: :first, label: false, prompt: :translate, input_html: { "data-action": "config-select#changedOption", "data-target": "config-select.select" }
    .col
      = f.input :target, label: false, input_html: { "data-target": "config-select.input" }, hint_html: { "data-target": "config-select.hint" }, hint: ""
    .col.w-remove-button
      = link_to_remove_association "&times;".html_safe, f, class: "btn btn-danger btn-block"
