a.text-right.d-block.mb-3 data-toggle="collapse" href="#service-details" role="button" aria-expanded="false" aria-controls="service-details"
  | Toggle Deploy Options

#service-details.row.collapse
  .col-4
    = f.input :replicas
    = f.input :restart_condition, collection: f.object.class.restart_conditions.keys, include_blank: false, input_html: { class: "custom-select" }
    = f.input :restart_delay, append: "sec", wrapper: :input_group
    = f.input :restart_window, append: "sec", wrapper: :input_group

  .col-4
    = f.input :update_parallelism
    = f.input :update_delay, append: "sec", wrapper: :input_group
    = f.input :update_failure_action, collection: f.object.class.update_failure_actions.keys, include_blank: false
    = f.input :update_monitor, append: "sec", wrapper: :input_group
    = f.input :update_order, collection: f.object.class.update_orders.keys, include_blank: false

  .col-4
    = f.input :rollback_parallelism
    = f.input :rollback_delay, append: "sec", wrapper: :input_group
    = f.input :rollback_failure_action, collection: f.object.class.rollback_failure_actions.keys, include_blank: false
    = f.input :rollback_monitor, append: "sec", wrapper: :input_group
    = f.input :rollback_order, collection: f.object.class.rollback_orders.keys, include_blank: false
