= simple_form_for(shallow(@stack, @service)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :name
  = f.input :image
  = f.input :command

  hr.divider

  = f.input :healthcheck, input_html: { "data-toggle": "collapse", "data-target": "#collapse-healthcheck" }, wrapper_html: { class: "user-select-none" }, wrapper: :custom_boolean_switch
  #collapse-healthcheck.collapse class=("show" if f.object.healthcheck?)
    = f.input :healthcheck_test, as: :string
    .row
      .col-md-3 = f.input :healthcheck_interval, append: "sec", wrapper: :input_group
      .col-md-3 = f.input :healthcheck_timeout, append: "sec", wrapper: :input_group
      .col-md-3 = f.input :healthcheck_start_period, append: "sec", wrapper: :input_group
      .col-md-3 = f.input :healthcheck_retries

  hr.divider

  = render "form_extra", f: f

  hr.divider

  h4 Configs
  #config_claims.mb-3
    = f.simple_fields_for :config_claims do |config_claim|
      = render 'config_claim_fields', f: config_claim
    .links
      = link_to_add_association 'Add config', f, :config_claims, class: "btn btn-sm btn-success"

  hr.divider

  - if Current.settings.external_services?
    h4 External services
    #external_service_claims.mb-3
      = f.simple_fields_for :external_service_claims do |external_service_claim|
        = render 'external_service_claim_fields', f: external_service_claim
      .links
        = link_to_add_association 'Add external service', f, :external_service_claims, class: "btn btn-sm btn-success"

  hr.divider

  h4 Volumes
  #volume_claims.mb-3
    = f.simple_fields_for :volume_claims do |volume_claim|
      = render 'volume_claim_fields', f: volume_claim
    .links
      = link_to_add_association 'Add volume', f, :volume_claims, class: "btn btn-sm btn-success"


  .form-actions
    - if policy(f.object.class).index?
      => link_to f.object.class.model_name.human(count: 2), [f.object.stack, f.object.class], class: "btn btn-outline-secondary"

    - if policy(f.object).destroy?
      => link_to t(:destroy), f.object, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-outline-danger"

    = f.button :submit, class: "btn-primary"

  .small.text-muted.text-right.mt-1.mb-3 = t(:submit_update_later_hint)
