.row
  .col-xl-6
    .card.mb-3
      .card-header
        ' Requests per minute
        small.text-muted Service #{service.name}
      .card-body.p-2.pt-3
        canvas data-controller="metrics-requests" data-url=requests_environment_service_metrics_path(environment, service)

  .col-xl-6
    .card.mb-3
      .card-header
        .float-right
          span data-title="Internal response time in milliseconds (without transport encryption, etc.)" data-toggle="tooltip" = icon "question"
        ' Response time
        small.text-muted Service #{service.name}
      .card-body.p-2.pt-3
        canvas data-controller="metrics-response-time" data-url=response_time_environment_service_metrics_path(environment, service)
