- page_heading
  h1
    => @stack.name
    small = t(".title")

  - if policy(Config).create?
    = link_to t(:title, scope: %i[configs new]), [:new, @stack, :config], class: "btn btn-secondary"

.table-responsive
  table.table class=Current.settings.table_class
    thead
      tr
        th = Config.human_attribute_name("config_type")
        th = Config.human_attribute_name("name")
        th
        th
        th

    tbody
      - @configs.each do |config|
        tr
          td = config.config_type
          td.w-100 = config.name
          td: .badge.badge-dark data-toggle="tooltip" data-title="Config claims" = config.config_claims.count
          td.with-btn
            - if policy(config).show?
               = link_to t(:show), config, class: "btn btn-sm btn-primary"
          td.with-btn
            - if policy(config).update?
               = link_to t(:edit), edit_config_path(config), class: "btn btn-sm btn-secondary"
