- page_heading
  h1
    => @stack.name
    small = t(".title", name: t(:title, scope: [:templates, @template.name]))

h4.lead.mb-4 = t(:description, scope: [:templates, @template.name])

= simple_form_for([@stack, @template], url: stack_templates_path) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = hidden_field_tag "name", params[:name]

  .form-inputs
    - @template.inputs.each do |name, options|
      = f.input name, options

  .form-actions
    - if policy(@stack).show?
      = link_to t(:back), @stack, class: "btn btn-secondary mr-2"
    = f.button :submit, t(".submit"), class: "btn-primary ml-auto"
