.modal.fade id="#{id}" tabindex="-1" role="dialog" aria-labelledby="#{id}Label" aria-hidden="true"
  .modal-dialog.modal-dialog-centered.modal-lg role="document"
    .modal-content.bg-primary
      .modal-header.text-white
        h5.modal-title#ciModalLabel Gitlab CI Integration

        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times

      .modal-body.bg-white.rounded-bottom
        h6 CI Variables

        .row
          .col-md-6.add-double-point = copy_input "CARGO_HOST"
          .col-md-6 = copy_input root_url.chomp('/')
        .row
          .col-md-6.add-double-point = copy_input "CARGO_STACK_ID"
          .col-md-6 = copy_input @stack.id
        .row.mb-3
          .col-md-6.add-double-point = copy_input "CARGO_STACK_TOKEN"
          .col-md-6 = copy_input @stack.token

        h6 .gitlab-ci.yml
        = rouge language: :yaml, class: "mb-3"
          |
            deploy environment:
              stage: deploy
              image: nuux/cargo-cli:latest
              script: >
                cargo-cli deploy $CI_ENVIRONMENT_SLUG \
                  --version $CI_COMMIT_SHORT_SHA \
                  --tags web:$CI_COMMIT_SHORT_SHA api:$CI_COMMIT_SHORT_SHA
              environment:
                name: $CI_COMMIT_REF_NAME
                url: https://$CI_ENVIRONMENT_SLUG.#{@stack.short_name.downcase}.#{Current.settings.host}
                on_stop: stop environment

        = rouge language: :yaml
          |
            stop environment:
              stage: deploy
              image: nuux/cargo-cli:latest
              script: cargo-cli remove $CI_ENVIRONMENT_SLUG
              when: manual
              environment:
                name: $CI_COMMIT_REF_NAME
                action: stop
              except:
                - production
