- page_heading
  h1 = t(".title")
  - if policy(Stack).create?
    = link_to t(:title, scope: %i[stacks new]), new_stack_path, class: "btn btn-secondary"


.table-responsive
  table.table class=Current.settings.table_class
    thead
      tr
        th = Stack.human_attribute_name("name")
        th.d-none.d-sm-table-cell
        th
        th
        th

    tbody
      - @stacks.each do |stack|
        tr
          td
            - if policy(stack).show?
              = link_to stack.name, stack, class: "text-reset"
            - else
              = stack.name

          td.text-muted.text-right.d-none.d-sm-table-cell
            - if policy(stack).show?
              - if stack.production_environment&.last_deployment
                span data-toggle="tooltip" data-title="Last deployment to #{stack.production_environment_name}"
                  => time_ago_in_words stack.production_environment&.last_deployment&.updated_at
                  | ago

          td.with-btn
            - if policy(stack).show?
              .badge.badge-dark data-toggle="tooltip" data-title=Environment.model_name.human(count: 2) = stack.environments.not_deleted.count

          td.with-btn
            - if policy(stack).show?
              = link_to t(:show), stack, class: "btn btn-sm btn-primary"

          td.with-btn
            = render "environments/open", environment: stack.production_environment
