<template>
  <tr>
    <td>{{container.id | formatId}}</td>
    <td v-bind:title="container.image">{{container.image | formatImage}}</td>
    <td>{{container.state}}</td>
    <td>{{container.status}}</td>
    <td>{{container.ports.join(', ')}}</td>
    <td>{{createdAt}}</td>
    <td>
      <a v-if="container.terminal" v-bind:href="container.terminal">Terminal</a>
    </td>
  </tr>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    container: Object
  },
  computed: {
    createdAt() {
      return moment(this.container.created_at).fromNow()
    }
  }
}
</script>
