- page_heading
  h1
    => @stack.name
    small = t(".title")

  - if policy(Frontend).create?
    = link_to t(:title, scope: %i[frontends new]), [:new, @stack, :frontend], class: "btn btn-secondary"

.table-responsive
  table.table class=Current.settings.table_class
    thead
      tr
        th = Frontend.human_attribute_name("name")
        th = Frontend.human_attribute_name("service")
        th.d-none.d-md-table-cell = Frontend.human_attribute_name("port")
        th.d-none.d-sm-table-cell = Frontend.human_attribute_name("hosts")
        th
        th

    tbody
      - @frontends.each do |frontend|
        tr
          td = frontend.name
          td = frontend.service_name
          td.d-none.d-md-table-cell = frontend.port
          td.d-none.d-sm-table-cell = frontend.hosts
          td.with-btn
            - if policy(frontend).show?
               = link_to t(:show), frontend, class: "btn btn-sm btn-primary"
          td.with-btn
            - if policy(frontend).update?
               = link_to t(:edit), edit_frontend_path(frontend), class: "btn btn-sm btn-secondary"
