- flash.each do |type, value|
  .alert.alert-dismissible.fade.show role="alert" class=alert_style_class(type)
    = value
    button type="button" class="close" data-dismiss="alert" aria-label="Close"
      span aria-hidden="true" &times;
