- page_heading
  h1
    => @stack.name
    small = t(".title")

  - if policy(Volume).create?
    = link_to t(:title, scope: %i[volumes new]), [:new, @stack, :volume], class: "btn btn-secondary"

.table-responsive
  table.table class=Current.settings.table_class
    thead
      tr
        th = Volume.human_attribute_name("name")
        th
        th
        th

    tbody
      - @volumes.each do |volume|
        tr
          td.w-100 = volume.name
          td: .badge.badge-dark data-toggle="tooltip" data-title="Volume claims" = volume.volume_claims.count
          td.with-btn
            - if policy(volume).show?
              = link_to t(:show), volume, class: "btn btn-sm btn-primary"
          td.with-btn
            - if policy(volume).update?
              = link_to t(:edit), edit_volume_path(volume), class: "btn btn-sm btn-secondary"
