- page_heading
  h1
    => @volume.stack.name
    small
      => Volume.model_name.human
      => @volume.name

  - if policy(@volume).update?
    => link_to t(:edit), [:edit, @volume], class: "btn btn-secondary"

.card.mb-3
  .card-header Claims
  .list-group.list-group-flush
    - @volume.volume_claims.ordered_by_service.each do |claim|
      .list-group-item.d-flex.justify-content-between
        strong.name = claim.service.name
        .target = claim.target
