.modal.fade id="show-config-#{claim.target}" tabindex="-1" role="dialog" aria-labelledby="show-config-#{claim.target}-label" aria-hidden="true"
  .modal-dialog.modal-dialog-centered role="document"
    .modal-content.bg-primary
      .modal-header.text-white
        h5.modal-title id="show-config-#{claim.target}-label" ActiveStorage config
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;

      .modal-body.bg-white.rounded-bottom
        = rouge language: :yaml
          |
            # config/storage.yml

            minio:
              service: S3
              endpoint: <%= ENV["#{claim.target}_HOST"] %>
              bucket: <%= ENV["#{claim.target}_BUCKET"] %>
              access_key_id: <%= ENV["#{claim.target}_ACCESS_KEY"] %>
              secret_access_key: <%= ENV["#{claim.target}_SECRET_KEY"] %>
              region: eu-central-1
              force_path_style: true
              upload:
                cache_control: "private, max-age=31536000"
