= simple_form_for(shallow(@stack, @external_service)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    - if f.object.new_record?
      = f.input :service_type, collection: f.object.class.service_types.keys, include_blank: false
    - else
      = f.input :service_type, readonly: true, as: :string

    = f.input :name, readonly: !f.object.new_record?

    = f.input :minio_production_bucket_name

  .form-actions
    - if policy(f.object.class).index?
      => link_to f.object.class.model_name.human(count: 2), [f.object.stack, f.object.class], class: "btn btn-outline-secondary"


    - if policy(f.object).destroy?
      => link_to t(:destroy), f.object, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-outline-danger"

    = f.button :submit, class: "btn-primary"

  - if f.object.persisted?
    .small.text-muted.text-right.mt-1.mb-3
      = t(:submit_update_later_hint)
