- page_heading
  h1
    => @stack.name
    small = t(".title")

  - if policy(ExternalService).create?
    = link_to t(:title, scope: %i[external_services new]), [:new, @stack, :external_service], class: "btn btn-secondary"

.table-responsive
  table.table class=Current.settings.table_class
    thead
      tr
        th = ExternalService.human_attribute_name("service_type")
        th = ExternalService.human_attribute_name("name")
        th
        th
        th

    tbody
      - @external_services.each do |external_service|
        tr
          td = external_service.service_type
          td.w-100 = external_service.name
          td: .badge.badge-dark data-toggle="tooltip" data-title="ExternalService claims" = external_service.external_service_claims.count
          td.with-btn
            - if policy(external_service).show?
               = link_to t(:show), external_service, class: "btn btn-sm btn-primary"
          td.with-btn
            - if policy(external_service).update?
               = link_to t(:edit), edit_external_service_path(external_service), class: "btn btn-sm btn-secondary"
