- page_heading
  h1
    => @external_service.stack.name
    small
      => ExternalService.model_name.human
      => @external_service.service_type
      => @external_service.name

  - if policy(@external_service).update?
    = link_to t(:edit), [:edit, @external_service], class: "btn btn-secondary"

.row
  .col-md-4
    .card.mb-3
      .card-header = ExternalServiceClaim.model_name.human(count: 2)
      .list-group.list-group-flush
        - @external_service.external_service_claims.each do |claim|
          .list-group-item
            .d-flex.justify-content-between
              .service
                .small.font-weight-bold = ExternalServiceClaim.human_attribute_name("service")
                .text-muted = claim.service.name
              .target
                .small.font-weight-bold = ExternalServiceClaim.human_attribute_name("target")
                .text-muted = claim.target

            .button.mt-2
              a href="#show-config" data-toggle="modal" data-target="#show-config-#{claim.target}" Show ActiveStorage config
              = render "config_modal", claim: claim
