- page_heading
  h1
    => @stack.name
    small
      => Environment.model_name.human
      => @environment.name
      - if @environment.production?
        => icon "star"

  = render "environments/open", environment: @environment

- if @environment.last_deployment
  = render "metrics", environment: @environment
  #vue-app
    environment data-url=environment_path(@environment, format: :json)
      | Loading ...

- else
  .alert.alert-danger This environment has not been deployed yet.

- if policy(@environment).destroy?
  => link_to t(:destroy), @environment, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-xs-block btn-outline-danger"
