.navbar-brand
  svg
    transform: scale(1.4)
    margin-right: $spacer / 2

.navbar-divider
  @extend .navbar-text
  border-right: $border-width solid $navbar-dark-color
  margin: 0 $spacer
  height: $spacer * 1.5
  align-self: center

  @include media-breakpoint-down(sm)
    border-right: none
    border-top: $border-width solid transparentize($navbar-dark-color, 0.3)
    margin: $spacer * 0.5 $spacer
    height: 0
    width: 100%
    padding: 0
