doctype html
html lang="en"
  head
    title Cargo
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="shortcut icon" type="image/png" href="/apple-touch-icon-precomposed.png"
    link rel="mask-icon" href=image_path("shipment-cargo-boat.svg") color=Current.settings.primary_color
    meta name="theme-color" content=Current.settings.primary_color

    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = sentry_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    css:
      :root { #{Current.settings.style} }

  body
    header.mb-3 = render "shared/navbar"
    main.container-fluid.mb-3
      - if content_for? :page_heading
        header = content_for :page_heading
      = render "shared/messages"
      = yield
    footer
      = link_to "https://gitlab.com/nuux/cargo/blob/#{Rails.configuration.revision == "dev" ? "master" : Rails.configuration.revision}/CHANGELOG.md", target: "_blank", class:"small text-muted", rel: "noreferrer noopener"
        => Rails.configuration.version
        = "(#{Rails.configuration.revision})"
